<div class=" border border-2 border-primary p-2 mb-4 mt-5" style="background-color: rgb(229, 229, 229);">
    <h1 class="text-primary ms-4" id="title-text">Liste des articles de ventes</h1>
</div>
<div class="alert h5" id="msg-info" role="alert" #msgInfo>
    <marquee loop="1" behavior="slide" scrollamount="150" direction="left" id="txt">A simple primary alert—check it out!</marquee>
</div>
<div class="row border border-3 mx-1 p-3">
    <table class="table table-secondary table-striped table-hover bg-primary">
        <thead>
            <tr class="row bg-primary">
                <th class="col bg-primary text-white">Photo</th>
                <th class="col bg-primary text-white">Libellé</th>
                <th class="col bg-primary text-white">Prix</th>
                <th class="col bg-primary text-white">Stock</th>
                <th class="col bg-primary text-white">Catégorie</th>
                <th class="col bg-primary text-white">Editer</th>
                <th class="col bg-primary text-white">Supprimer</th>
            </tr>
        </thead>
        <tbody *ngIf="articles && articles.data.length > 0">
            <app-item *ngFor="let article of articles.data" 
                [InputArticle]="article"
                (eventEmittedDeleteOrUpdate)="recevoirArticleDelete($event)"
                >
                <!-- (editClicked)="recevoirArticleEdite($event)" -->
            </app-item>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" *ngIf="articles">
        <div class="h6 text-center">Total Articles: <span class="text-primary">{{ articles.total }}</span> &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; Page <span class="text-primary">{{ articles.current_page }}</span> sur <span class="text-primary">{{ articles.total }}</span></div>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link bg-primary text-white" (click)="goToPage(1)">Première</a>
            </li>
            <li class="page-item" [ngClass]="{ 'disabled': articles.current_page === 1 }">
                <a class="page-link" (click)="goToPage(articles.current_page - 1)">&laquo; Précédente</a>
            </li>
            <ng-container *ngFor="let page of pages">
                <li class="page-item" [class.active]="page === articles.current_page">
                    <a class="page-link" href="#" (click)="goToPage(page)">{{page}}</a>
                </li>
            </ng-container>
            <li class="page-item" [ngClass]="{ 'disabled': articles.current_page === articles.total }">
                <a class="page-link" href="#" (click)="goToPage(articles.current_page + 1)">Suivante &raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link bg-primary text-white" (click)="goToPage(articles.total)">Dernière</a>
            </li>
        </ul>
    </nav>
</div>

